h1{
    text-align: center;
   color:rgb(238, 88, 113);
}
#img{
    width: 400px;
    height: 300px;
    float: left;
    padding: 20px;
}
span{
    background-color :rgb(238, 88, 113);
   color:white;
}
ul.a{
    list-style-type: square;
}
ul .b{
    list-style-type:circle;
}