.n1{
    background-image: url(https://i.pinimg.com/originals/6f/a9/c3/6fa9c33211ce7c08f2cc4fcef6144b7d.png);
}
h1{
    text-align: center;
    color:#06b9b9  ;
    font-size:xx-large;
}
.n2{
    background-color: #06b9b9;
    color:#FFFFFF ;
}
